##  **Remark**: 

This document is just an extracted copy for the "Process" phase of the case study, the full analysis can be found on this [link](https://github.com/faiz-yah/Google-Data-Analyst-Case-Study-Python/blob/main/1.%20Complete%20Analysis.ipynb).

## Process Phase (Cleaning Data)
The "Process" phase is where the data collected are being processed, this includes connecting the data sources, **cleaning the data**, filtering and choosing the data, calculating the confidence level of the data etc.

Deliverable: **documentation of any cleaning or manipulation of data**.

### Documentation of data cleaning and manipulation
I will be using **Pandas** for the data cleaning and manipulations. 
The actions that I carried out are as follows:

1. Since the data for each month are in a seperate file, I import each file individually.
2. Then I merge these files into one data frame which enable me to analyze them in term of the year 2021.
3. Identify the columns and type of each column of the data frame.
4. Check for null values.
    - Drop the null values (if any), and reconfirm that there are no longer null values
5. Delete the columns that are not necessary.
6. Check for duplicates.
    - Drop the duplicated values (if any), and reconfirm that there are no longer duplicated values
7. Modify the data type of certain column.
    - Convert _**started_at**_ column and _**ended_at**_ column from  "object" to "datetime64"
    - To **extract the hour, day, month and date** to form new columns based on them
    - To calculate the **ride duration**
8. Check the order of the day, month.
9. Create a new column _**ride_duration**_ that calculates the duration of each ride.
    - Express the ride duration in terms of only **minutes** , and not **minutes and seconds**
    - Check whether there are **negative values** for the ride duration which would be illogical
    - Remove the rows that have negative values
10. Export the file of the cleaned data.

### 1. Read each csv file individually

In [1]:
import pandas as pd

# Since the data for each month are in a seperate file, I import each file individually

jan_2021 = pd.read_csv('2021_01.csv')
feb_2021 = pd.read_csv('2021_02.csv')
march_2021 = pd.read_csv('2021_03.csv')
april_2021 = pd.read_csv('2021_04.csv')
may_2021 = pd.read_csv('2021_05.csv')
june_2021 = pd.read_csv('2021_06.csv')
july_2021 = pd.read_csv('2021_07.csv')
august_2021 = pd.read_csv('2021_08.csv')
sept_2021 = pd.read_csv('2021_09.csv')
oct_2021 = pd.read_csv('2021_10.csv')
nov_2021 = pd.read_csv('2021_11.csv')
dec_2021 = pd.read_csv('2021_12.csv')

### 2. Merge each month into one single year of 2021

In [2]:
# Merge these files into one data frame which enable me to analyze them in term of the year 2021

df = pd.concat([jan_2021, feb_2021, march_2021, april_2021, 
                may_2021, june_2021, july_2021, august_2021, 
                sept_2021, oct_2021,nov_2021, dec_2021])

### 3. Identify the information of the data frame

In [3]:
# Identify the columns and their respective data type

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5595063 entries, 0 to 247539
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 597.6+ MB

We can identify that there are a total of 12 columns, 4 of which has the data type **'float64'**, while 9 has the data type **'object'**.

### 4. Check for null values

In [4]:
# Check the amount of null values for each column

df.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    690809
start_station_id      690806
end_station_name      739170
end_station_id        739170
start_lat                  0
start_lng                  0
end_lat                 4771
end_lng                 4771
member_casual              0
dtype: int64

From the result, we can identify that there are around 70k null values for some of the columns.

In [5]:
# Delete the null values, then reconfirm that the amount of null values are now 0

df.dropna(inplace = True)
df.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

After dropping the null values, the result now shows that there are no longer any null values.

### 5. Delete columns that are unnecessary

In [6]:
df = df.drop(['start_station_name', 'start_station_id', 'end_station_name', 'end_station_id',
             'start_lat', 'start_lng', 'end_lat', 'end_lng'], axis=1)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4588302 entries, 9 to 247539
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   ride_id        object
 1   rideable_type  object
 2   started_at     object
 3   ended_at       object
 4   member_casual  object
dtypes: object(5)
memory usage: 210.0+ MB

Since there are certain columns that will not be analyze, it is better to drop them completely for the purpose of clarity and neatness, sometimes less is more.

### 6. Check for duplicated values

In [7]:
df.duplicated().sum()

0

We are all good to go since there are no duplicated values, if there are, we should drop them too.

### 7. Convert column data type

We will be converting the column type for two columns, __**started_at**__ column and __**ended_at**__ column from the data type **"object"** to the data type **"datetime64"**

There are 2 reasons for this:
- To **extract the hour, day, month and date** to form new columns based on them
- To calculate the **ride duration**

In [8]:
# To check the current data type
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4588302 entries, 9 to 247539
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   ride_id        object
 1   rideable_type  object
 2   started_at     object
 3   ended_at       object
 4   member_casual  object
dtypes: object(5)
memory usage: 210.0+ MB

In [9]:
df["started_at"] = df["started_at"].astype('datetime64')
df["ended_at"] = df["ended_at"].astype('datetime64')

# To check the updated data type
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4588302 entries, 9 to 247539
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   ride_id        object
 1   rideable_type  object
 2   started_at     datetime64[ns]
 3   ended_at       datetime64[ns]
 4   member_casual  object
dtypes: datetime64[ns](2), object(3)
memory usage: 210.0+ MB

We have successfully conver the data type from **"object"** to **"datetime64"**

### 8. Create new columns that specify the hour, the day, the month, the year of each ride.

In [10]:
df['hour'] = df['started_at'].dt.hour # Toextract the hour
df['day'] = df['started_at'].dt.day_name() # Toextract the day of the week
df['date'] = df['started_at'].dt.day #To extract the date
df['month'] = df['started_at'].dt.month_name() # To extract the month
df['year'] = df['started_at'].dt.year #To extract the year


df.head()

,ride_id,rideable_type,started_at,ended_at,member_casual,hour,day,date,month,year
9,B9F73448DFBE0D45,classic_bike,2021-01-24 19:15:38,2021-01-24 19:22:51,member,19,Sunday,24,January,2021
10,457C7F4B5D3DA135,electric_bike,2021-01-23 12:57:38,2021-01-23 13:02:10,member,12,Saturday,23,January,2021
11,57C750326F9FDABE,electric_bike,2021-01-09 15:28:04,2021-01-09 15:37:51,casual,15,Saturday,9,January,2021
12,4D518C65E338D070,electric_bike,2021-01-09 15:28:57,2021-01-09 15:37:54,casual,15,Saturday,9,January,2021
13,9D08A3AFF410474D,classic_bike,2021-01-24 15:56:59,2021-01-24 16:07:08,casual,15,Sunday,24,January,2021

### 9. Check the order of the day, month

In [11]:
df.groupby(['member_casual', 'day'])['ride_id'].count() # Check order for the day

member_casual  day
casual         Friday       290045
               Monday       228936
               Saturday     468331
               Sunday       403789
               Thursday     224207
               Tuesday      214937
               Wednesday    218134
member         Friday       365787
               Monday       346488
               Saturday     357082
               Sunday       311240
               Thursday     373474
               Tuesday      388132
               Wednesday    397720
Name: ride_id, dtype: int64

The days are not arranged in the order that we want, so we have to arrange them

In [12]:
day_ordered = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

df['day'] = pd.Categorical(df['day'], categories=day_ordered, ordered=True)
df.groupby(['member_casual', 'day'])['ride_id'].count()

member_casual  day
casual         Monday       228936
               Tuesday      214937
               Wednesday    218134
               Thursday     224207
               Friday       290045
               Saturday     468331
               Sunday       403789
member         Monday       346488
               Tuesday      388132
               Wednesday    397720
               Thursday     373474
               Friday       365787
               Saturday     357082
               Sunday       311240
Name: ride_id, dtype: int64

The days are now ordered accordingly as we want, which is Monday - Friday.

In [13]:
# Now we repeat for the month

df.groupby(['member_casual', 'month'])['ride_id'].count() # Check order for the month

member_casual  month
casual         April        120420
               August       341476
               December      45076
               February       8613
               January       14690
               July         369415
               June         304192
               March         75642
               May          216829
               November      69978
               October      189117
               September    292931
member         April        177787
               August       332933
               December     131295
               February      34383
               January       68819
               July         322906
               June         304586
               March        130049
               May          234165
               November     185926
               October      288855
               September    328219
Name: ride_id, dtype: int64

The months are not arranged in the order that we want, so we have to arrange them.

In [14]:
# Arrange the month

month_ordered = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October',
               'November', 'December']

df['month'] = pd.Categorical(df['month'], categories=month_ordered, ordered=True)
df.groupby(['member_casual', 'month'])['ride_id'].count()

member_casual  month
casual         January       14690
               February       8613
               March         75642
               April        120420
               May          216829
               June         304192
               July         369415
               August       341476
               September    292931
               October      189117
               November      69978
               December      45076
member         January       68819
               February      34383
               March        130049
               April        177787
               May          234165
               June         304586
               July         322906
               August       332933
               September    328219
               October      288855
               November     185926
               December     131295
Name: ride_id, dtype: int64

Perfect! The months are now arranged as wanted, which is January - December.

### 10. Create new column that calculate the duration of each ride

In [15]:
df['ride_duration'] = (df['ended_at'] - df['started_at'])/ pd.Timedelta(minutes=1) 
#Express the ride duration in terms of only minutes , and not minutes and seconds

df.head()

,ride_id,rideable_type,started_at,ended_at,member_casual,hour,day,date,month,year,ride_duration
9,B9F73448DFBE0D45,classic_bike,2021-01-24 19:15:38,2021-01-24 19:22:51,member,19,Sunday,24,January,2021,7.216667
10,457C7F4B5D3DA135,electric_bike,2021-01-23 12:57:38,2021-01-23 13:02:10,member,12,Saturday,23,January,2021,4.533333
11,57C750326F9FDABE,electric_bike,2021-01-09 15:28:04,2021-01-09 15:37:51,casual,15,Saturday,9,January,2021,9.783333
12,4D518C65E338D070,electric_bike,2021-01-09 15:28:57,2021-01-09 15:37:54,casual,15,Saturday,9,January,2021,8.950000
13,9D08A3AFF410474D,classic_bike,2021-01-24 15:56:59,2021-01-24 16:07:08,casual,15,Sunday,24,January,2021,10.150000

### 11. Verify if there are negative values for the duration of ride, which is not logical

In [16]:
df[df['ride_duration'] < 0].count()

ride_id          116
rideable_type    116
started_at       116
ended_at         116
member_casual    116
hour             116
day              116
date             116
month            116
year             116
ride_duration    116
dtype: int64

Apparently there are 166 rides with negative durations which are not logical, so we have to delete them.

In [17]:
df = df[df['ride_duration'] > 0] # Remove the rows
df[df['ride_duration'] < 0].count() # Verify

ride_id          0
rideable_type    0
started_at       0
ended_at         0
member_casual    0
hour             0
day              0
date             0
month            0
year             0
ride_duration    0
dtype: int64

We reconfirmed now that the rides with negative durations have been succesfully ommitted.

In [18]:
df.sort_values(by = ['ride_duration'], ascending = True).head()

,ride_id,rideable_type,started_at,ended_at,member_casual,hour,day,date,month,year,ride_duration
397932,80EBF2D4ED9F1CD6,classic_bike,2021-07-27 18:57:58,2021-07-27 18:57:59,casual,18,Tuesday,27,July,2021,0.016667
181547,17471ADEE413A595,classic_bike,2021-08-22 20:41:16,2021-08-22 20:41:17,member,20,Sunday,22,August,2021,0.016667
308715,D00E0C5398D32CA2,docked_bike,2021-07-15 22:06:34,2021-07-15 22:06:35,casual,22,Thursday,15,July,2021,0.016667
76874,ECC244CE74D8CFFE,classic_bike,2021-01-27 09:01:20,2021-01-27 09:01:21,member,9,Wednesday,27,January,2021,0.016667
273114,3169A3DE42575A9C,classic_bike,2021-04-18 14:20:48,2021-04-18 14:20:49,member,14,Sunday,18,April,2021,0.016667

We can also verify by sorting the duration ascendingly, then identify whether the smallest value is positive.

We can see that the shortest duration which is 0.167 minute is positive, therefore all the negative values have been deleted succesfully.

### 12. Export the cleaned file.

The file has been fully cleaned according to our needs, so we can export it as a new file.

In [19]:
df.to_csv("cycle_cleaned.csv")